USE [master]
GO
/****** Object:  Database [FirstDb]    Script Date: 08/02/2023 21:39:04 ******/
CREATE DATABASE [FirstDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FirstDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FirstDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FirstDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FirstDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FirstDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FirstDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 08/02/2023 21:39:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 08/02/2023 21:39:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Location_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TR_BPKB]    Script Date: 08/02/2023 21:39:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TR_BPKB](
	[AgreementNumber] [nvarchar](100) NOT NULL,
	[Bpkb_No] [nvarchar](100) NOT NULL,
	[Bpkb_Date] [datetime2](7) NOT NULL,
	[Faktur_No] [nvarchar](100) NOT NULL,
	[Faktur_Date] [datetime2](7) NOT NULL,
	[LocationId] [int] NOT NULL,
	[Police_No] [nvarchar](20) NOT NULL,
	[Bpkb_Date_In] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TR_BPKB] PRIMARY KEY CLUSTERED 
(
	[AgreementNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230208043435_InitialCreate', N'6.0.13')
GO
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([Id], [Location_Name]) VALUES (1, N'Bekasi')
INSERT [dbo].[Location] ([Id], [Location_Name]) VALUES (2, N'Jakarta')
SET IDENTITY_INSERT [dbo].[Location] OFF
GO
INSERT [dbo].[TR_BPKB] ([AgreementNumber], [Bpkb_No], [Bpkb_Date], [Faktur_No], [Faktur_Date], [LocationId], [Police_No], [Bpkb_Date_In]) VALUES (N'009809', N'string', CAST(N'2023-02-08T14:05:20.2570000' AS DateTime2), N'string', CAST(N'2023-02-08T14:05:20.2570000' AS DateTime2), 1, N'string', CAST(N'2023-02-08T14:05:20.2570000' AS DateTime2))
GO
/****** Object:  Index [IX_TR_BPKB_LocationId]    Script Date: 08/02/2023 21:39:05 ******/
CREATE NONCLUSTERED INDEX [IX_TR_BPKB_LocationId] ON [dbo].[TR_BPKB]
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TR_BPKB]  WITH CHECK ADD  CONSTRAINT [FK_TR_BPKB_Location_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Location] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TR_BPKB] CHECK CONSTRAINT [FK_TR_BPKB_Location_LocationId]
GO
USE [master]
GO
