@model MCF_FrontEnd.Models.Bpkb.BpkbModel

@{
    ViewBag.Title = "Create BPKB";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Create BPKB</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create BPKB
            </div>
            <p></p>
        </div>
    </div>
</div>

